<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>342917658314-7i96g6ok00j7srvl3g1fbbi3dv2nvpsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342917658314-7i96g6ok00j7srvl3g1fbbi3dv2nvpsk</string>
	<key>API_KEY</key>
	<string>AIzaSyA-YO0lbWu9dQzdrsJx8aeRRaU4dtHCdEY</string>
	<key>GCM_SENDER_ID</key>
	<string>342917658314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stevelederer.PhotoBox</string>
	<key>PROJECT_ID</key>
	<string>photobox-98154</string>
	<key>STORAGE_BUCKET</key>
	<string>photobox-98154.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342917658314:ios:e76bc066ecd3e2b1</string>
	<key>DATABASE_URL</key>
	<string>https://photobox-98154.firebaseio.com</string>
</dict>
</plist>